.MusicPlayer {
  background: linear-gradient(to right, rgb(211, 173, 143), rgb(99, 81, 67));
  display: grid;
  grid-template-columns: 30px 10px 65px auto 150px 5px 350px 25px;
  grid-template-rows: 30px 65px 200px 80px 30px;
  min-width: 800px;
  max-width: 1200px;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
}

.ButtonArea {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.Button {
  width: 65px;
  height: 65px;
}

.Button:hover {
  cursor: pointer;
}

.SongInfoArea {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.ArtistAlbum {
  align-self: flex-start;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(204, 204, 204);
  cursor: pointer;
  font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Garuda", "Verdana", "Tahoma, sans-serif"; 
  font-size: 16px;
  padding: 2px 7px 3px;
}

.Title {
  align-self: flex-start;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(204, 204, 204);
  font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Garuda", "Verdana", "Tahoma, sans-serif"; 
  font-weight: 100;
  font-size: 24px;
  padding: 4px 7px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.TimeArea {
  display: flex;
  grid-column: 5 / 6;
  grid-row: 2 / 3;
  white-space: nowrap;
}

.Timestamp {
  color: #fff;
  font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Garuda", "Verdana", "Tahoma, sans-serif"; 
  font-weight: 100;
  font-size: 16px;
}

.Image {
  align-self: stretch;
  justify-self: stretch;
  grid-column: 7 / 8;
  grid-row: 2 / 5;
  cursor: pointer;
}

.Equalizer {
  grid-column: 2 / 6;
  grid-row: 4 / 5;
}

.DurationWrapper {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}