.BarWrapper {
  display: flex;
  transform: rotateX(180deg);
  position: relative;
}

.BarWrapper:not(:last-child):hover * {
  cursor: pointer;
  background: white;
}

.MirrorWrapper {
  display: flex;
}

/* .MirrorWrapper:hover {
  cursor: pointer;
} */

.Bar {
  width: 3px;
  background: rgb(216, 215, 215);
  border-right: 0.1px solid grey;
  margin-top: 1.3px;
}

@keyframes colorChange {
  0% {
      background: orange;    
  }
}

.Mirror {
  width: 3px;
  background: rgb(186, 184, 184);
  border-right: 0.1px solid grey;
}

.Duration {
  transform: rotateX(180deg);
  /* align-self: flex-start; */
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(204, 204, 204);
  cursor: pointer;
  font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Garuda", "Verdana", "Tahoma, sans-serif"; 
  font-size: 12px;
  position: absolute;
  z-index: 1;
}